.footer-content{
    font-family: 'Roboto', sans-serif;
}
.footer-content h4{
    color: rgb(72,61,139);
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(45, 16, 211);
}
.footer-content p{
    font-size: 16px;
}

.footer-content span{
    font-weight: bold;
}
.footer-head nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.styleText{
    color: white;
    font-family: 'Roboto', sans-serif;
}