@import "tailwindcss";
@import "./style/footer.css";

/* reset css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, sans-serif;
}


ul li a{
  text-decoration: none;
  font-weight: bold;
}
